<launch>
  <!-- 
    This launch file starts 2 MAVROS nodes, each for a different PX4 autopilot.
    We'll load a separate YAML config for each instance, so they have unique parameters.
  -->

  <!-- ==============
       FIRST PIXHAWK
       ============== -->
  <group ns="pixhawk1">
    <!-- Load the YAML config for the left PX4 -->
    <rosparam command="load" file="$(find pixhawk_mavros)/config/px4_1.yaml"/>

    <!-- Then launch MAVROS pointing at the first serial port -->
    <node pkg="mavros" type="mavros_node" name="mavros_1" output="screen">
      <!-- Adjust the fcu_url to match your device name and baud rate -->
      <param name="fcu_url" value="/dev/ttyACM1:921600"/>
      <param name="gcs_url" value="udp://@127.0.0.1"/>
      <param name="target_system_id" value="1"/>
      <param name="target_component_id" value="1"/>
    </node>
  </group>

  <!-- ==============
       SECOND PIXHAWK
       ============== -->
  <group ns="pixhawk2">
    <!-- Load the YAML config for the right PX4 -->
    <rosparam command="load" file="$(find pixhawk_mavros)/config/px4_2.yaml"/>

    <!-- Then launch MAVROS pointing at the second serial port -->
    <node pkg="mavros" type="mavros_node" name="mavros_2" output="screen">
      <param name="fcu_url" value="/dev/ttyACM2:921600"/>
      <param name="gcs_url" value="udp://@127.0.0.1"/>
      <param name="target_system_id" value="2"/>
      <param name="target_component_id" value="1"/>
    </node>
  </group>
</launch>