[submodule "ros2_ros1_bridge_ws/src/ros1_bridge"]
	path = ros2_ws/src/ros1_bridge
	url = git@github.com:ARG-NCTU/ros1_bridge.git
[submodule "ros1_ws/src/nuscenes_visualize"]
	path = ros1_ws/src/nuscenes_visualize
	url = git@github.com:ARG-NCTU/nuscenes_visualize.git
[submodule "ros2_ws/src/simrad_halo20_radar"]
	path = ros2_ws/src/simrad_halo20_radar
	url = git@github.com:JetSeaAI/simrad_halo20_radar.git
	branch = development
[submodule "ros2_ws/src/realsense-ros"]
	path = ros2_ws/src/realsense-ros
	url = git@github.com:ARG-NCTU/realsense-ros.git
	branch = ros2-master
[submodule "librealsense"]
	path = librealsense
	url = git@github.com:ARG-NCTU/librealsense.git
	branch = ros2-master
