[submodule "ros2_ros1_bridge_ws/src/ros1_bridge"]
	path = ros2_ros1_bridge_ws/src/ros1_bridge
	url = git@github.com:ARG-NCTU/ros1_bridge.git
	branch = foxy
[submodule "ros1_ws/src/nuscenes_visualize"]
	path = ros1_ws/src/nuscenes_visualize
	url = git@github.com:ARG-NCTU/nuscenes_visualize.git
