<launch>

    <arg name="resolution" default="640x480"/>
    <!-- <arg name="resolution" default="1280x720"/> -->
    <!-- <arg name="resolution" default="1920x1080"/> -->

    <arg name="stitch_scale" default="False"/>

    <node name="source_image_stitcher_queue" pkg="image_processing" type="image_stitcher_queue.py" output="screen">
        <param name="sub_camera_topic_left" value="/camera3/color/image_raw/compressed"/> 
        <param name="sub_camera_topic_mid" value="/camera2/color/image_raw/compressed"/>
        <param name="sub_camera_topic_right" value="/camera1/color/image_raw/compressed"/>
        <param name="pub_camera_topic" value="/camera_stitched/color/image_raw/compressed"/>
        <param name="output_dir" value="stitched_results"/>
        <param name="h1_path" value="stitched_results/homography/ks-$(arg resolution)/H1_1.npy"/>
        <param name="h2_path" value="stitched_results/homography/ks-$(arg resolution)/H2_1.npy"/>
    </node>

    <group if="$(arg stitch_scale)">
        <node name="scale_image_stitcher_queue" pkg="image_processing" type="image_stitcher_queue.py" output="screen">
            <param name="sub_camera_topic_left" value="/camera3/scaled/compressed"/> 
            <param name="sub_camera_topic_mid" value="/camera2/scaled/compressed"/>
            <param name="sub_camera_topic_right" value="/camera1/scaled/compressed"/>
            <param name="pub_camera_topic" value="/camera_stitched/scaled/compressed"/>
            <param name="output_dir" value="stitched_results"/>
            <param name="h1_path" value="stitched_results/homography/ks-$(arg resolution)/H1_1.npy"/>
            <param name="h2_path" value="stitched_results/homography/ks-$(arg resolution)/H2_1.npy"/>
        </node>
    </group>

</launch>
